.bg{
     background-color: white;
     height: 100vh;
     padding: 12px;
     text-align: ;center;
 .head{
     font-size: 30px;
     color: rgb(32, 58, 58);
     font-weight: bold;
 }
 .img{
     height: 300px;
     width: 150px;
     margin: 10px;
 }
 .paragraph{
     font-size: 18px;
     color:rgba(58, 64, 52, 0.892);
     text-align: justify;
 }